<% include ./header %>

<header class="intro-header" style="background-image: url('/images/post-bg.jpg')">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="post-heading">
          <h1><%= organization.organizationName %></h1>
          <%# <h2 class="subheading">廠商詳細資料</h2>%>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Post Content -->
<article>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <p>廠商名稱：<%= organization.organizationName %></p>
        <p>廠商電話：<%= organization.phone %></p>
        <p>廠商信箱：<%= organization.email %></p>
        <p>廠商地址：<%= organization.address %></p>
        <p>廠商備註：<%= organization.miscellaneous %></p>
        <% if(customer.account == 'test') { %>
          <li>
            <a href="/updateOrganization/<%= organization.id %>">修改資料</a>
          </li>
          <% }  %>
      </div>
    </div>
  </div>
</article>

<hr>
<% include ./footer %>
